body {
	background-image: url('background.jpg');
	background-size: cover;
	background-attachment: fixed;
}

nav a:hover{
	background-color:rgba(0,0,0,0.2)
}

li.start {
	list-style: none;
	position: relative;
	display: inline-block;
	width: 140px;
	height: 110px;
}

@-moz-keyframes rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(-360deg);}
}

@-webkit-keyframes rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(-360deg);}
}

@-o-keyframes rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(-360deg);}
}

@keyframes rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(-360deg);}
}

.round {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding-top: 30px;
	text-decoration: none;
	text-align: center;
	font-size: 25px;
	letter-spacing: -.065em;
	font-family: "Hammersmith One", sans-serif;
	-webkit-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	box-shadow: 2px 2px 7px rgba(0,0,0,.2);
	border-radius: 300px;
	z-index: 1;
	border-width: 4px;
	border-style: solid;
}

.round:hover {
	width: 130%;
	height: 130%;
	left: -15%;
	top: -15%;
	font-size: 33px;
	padding-top: 38px;
	-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
	-o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
	-moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
	box-shadow: 5px 5px 10px rgba(0,0,0,.3);
	z-index: 2;
	border-size: 10px;
	-webkit-transform: rotate(-360deg);
	-moz-transform: rotate(-360deg);
	-o-transform: rotate(-360deg);
	transform: rotate(-360deg);
}

a.white {
	background-color: rgba(255,255,255,0.7);
	color: rgba(0,0,0,1);
	border-color: rgba(255,255,255,0);

}

a.white:hover {
	color: rgba(255,255,255,0);
}

.round span.round{
	display: block;
	opacity: 0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	font-size: 1px;
	border: none;
	padding: 30% 20% 0 20%;
	color: #000000;
}

.round span:hover {
	opacity: .85;
	font-size: 20px;
	-webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
	-moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
	-o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

.white span{
	background: rgba(255,255,255,.7);
}

.btn-circle.btn-xl {
	width: 120px;
	height: 120px;
	font-size: 27px;
	border-radius: 60px;
	background: rgba(255,255,255,0.7);
}

ul#champion_list li, ul#player_list li{
	float:left;
	padding:10px;
	margin:5px;
	font-size: 20px;
}

ul#champion_list li:hover, ul#player_list li:hover{
	background-color:rgba(0,0,0,0.2);
}

.champ_detail{
	width:420px;
}

.popover{
	max-width:500px;
}

#player_list .popover{
	width:400px;
	background:rgba(212,212,212,1);
}

.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}